{% extends 'user/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/regist.css' %}">
{% endblock %}


{% block body_class %}signup-page{% endblock %}

{% block content %}
  <h1 class="signup-title">ログイン</h1>

  <section class="signup-card">
    <form method="post" class="signup-form" novalidate>
      {% csrf_token %}

      <label class="signup-label" for="id_email">メールアドレス：</label>
      <input class="signup-input" type="email" id="id_email" name="email" required>

      <label class="signup-label" for="id_password">パスワード：</label>
      <input class="signup-input" type="password" id="id_password" name="password" required>

      <button type="submit" class="signup-submit">ログイン</button>

      <div class="signup-help" style="text-align:center; margin-top:10px;">
        <a href="{% url 'user:regist' %}">アカウント登録</a>
        
      </div>
    </form>
  </section>
{% endblock %}
