{% extends 'user/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/regist.css' %}">
{% endblock %}
{% block body_class %}signup-page{% endblock %}
{% block content %}
  <h1 class="signup-title">パスワード変更</h1>
  <section class="signup-card">
    <form method="post" class="signup-form">
      {% csrf_token %}
      {{ form.old_password.label_tag }} {{ form.old_password }}
      {{ form.new_password1.label_tag }} {{ form.new_password1 }}
      {{ form.new_password2.label_tag }} {{ form.new_password2 }}
      <button class="signup-submit" type="submit">変更する</button>
    </form>
  </section>
{% endblock %}
