
{% extends 'user/base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'user/regist.css' %}">{% endblock %}
{% block body_class %}signup-page{% endblock %}

{% block content %}


<section class="signup-card">
  <h1 class="signup-title">新規登録</h1>

  {% if user_form.non_field_errors %}
    <div class="alert alert-danger">
      {% for err in user_form.non_field_errors %}{{ err }}<br>{% endfor %}
    </div>
  {% endif %}

  <form method="post" class="signup-form" novalidate>
    {% csrf_token %}

    <label class="signup-label" for="id_username">ユーザー名</label>
    <input class="signup-input" type="text" id="id_username" name="username"
           value="{{ user_form.username.value|default_if_none:'' }}" required>
    {% for err in user_form.username.errors %}
      <div class="signup-help" style="color:#d33">{{ err }}</div>
    {% endfor %}

    <label class="signup-label" for="id_email">メールアドレス</label>
    <input class="signup-input" type="email" id="id_email" name="email"
           value="{{ user_form.email.value|default_if_none:'' }}" required>
    {% for err in user_form.email.errors %}
      <div class="signup-help" style="color:#d33">{{ err }}</div>
    {% endfor %}

    <label class="signup-label" for="id_password1">パスワード</label>
    <input class="signup-input" type="password" id="id_password1" name="password1" required>
    <div class="signup-help">※半角英数字を含む8文字以上<br>
    ※記号( ! _ % @ # $ & )を1つ以上含めてください</div>
    {% for err in user_form.password1.errors %}
      <div class="signup-help" style="color:#d33">{{ err }}</div>
    {% endfor %}

    <label class="signup-label" for="id_password2">パスワード再入力</label>
    <input class="signup-input" type="password" id="id_password2" name="password2" required>
    {% for err in user_form.password2.errors %}
      <div class="signup-help" style="color:#d33">{{ err }}</div>
    {% endfor %}

    <button class="signup-submit" type="submit">登録</button>

      <div class="signup-help" style="text-align:center; margin-top:10px;">
        <a href="{% url 'user:login' %}">ログイン</a>

      </div>

  </form>


</section>
{% endblock %}
